    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body class="bg-info">
    <div class="row"> <div class=" col-sm-8 offset-sm-2" style="background-color: #ffffff; margin-top: 50px; padding: 20px">
        <h3><a href="/signup" class="btn btn-primary">ADD USER</a></h3>
         <h3>List User</h3>
<table class=" table table-bordered">
    <tr>
        <th>Full Name</th>
        <th>Email</th>
        <th>Password</th>
        <th>Image</th>
         <th>Action</th>
    </tr>
   

    {{#each user}}
     <tr>
        <td>{{this.fullname}}</td>
        <td>{{this.email}}</td>
        <td>{{this.password}}</td>
        <td>{{this.files}}</td>
      
        <td>
             <a href="/edit/{{this._id}}" class="btn btn-primary btn-sm">Edit</a>
            <a href="/del/{{this._id}}" class="btn btn-danger btn-sm"
        onclick="return confirm("xóa?")">DEL</a>
       </td>
    </tr>
    {{/each}}
</table>

    </div></div>
   








    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>